li a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(42, 71, 42);
   
}

.profile img{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer; 
    margin-right: 20px;
}
  