li a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(42, 71, 42);
   
}
.navbar-nav .nav-item:hover {
    background-color: transparent !important;
  }
  